<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dk.ufst.ticketauth">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".authcode.BrowserManagementActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden"
            android:launchMode="singleTask"
            android:exported="false"
            />
        <activity
            android:noHistory="true"
            android:name=".authcode.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="${applicationId}.ticketauth"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".automated.SelectUserActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar"
        />
        <provider
            android:name=".TicketAuthInitProvider"
            android:authorities="${applicationId}.TicketAuthInitProvider"
            android:exported="false" />
    </application>
</manifest>